<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soil Condition Monitor</title>
    <style>
        body{
                background-image:url('/static/img/plant.jpg');
                color:white;
                text-align: center;

            }
        .blackshadow{
            text-shadow: 1px 1px 1px black,
            1px -1px 1px black,
            -1px 1px 1px black,
            -1Px -1px 1px black;
}
    </style>
</head>
<body>
    <h1 class='blackshadow' style="font-size: 80px">Your Soil Condition is Great</h1>
    <h2 class='blackshadow' style="font-size: 50px"> Temperature: 20°C</h2>
    <h2 class='blackshadow' style="font-size: 50px">Moisture: 80%</h2>
</body>
</html>